/*.button {
    background-color: #4CAF50;  Green 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
  }  */


button {
    height: 300px;
    width: 200px;
    color: #C2BEF5;
    border: black;
    border-radius: 15px;
    font-size: 24px;
    font-family: Verdana;

    
}
button:hover {
    background-color: #C2BEF5;
    color: #BEEBF5
}
button:active {
    background-color: #864e71;
    box-shadow: 0 5px rgb(92, 6, 85);
    transform: translateY(6px);

}